header {
    background: #000;
    height: 70px;
    padding: 10px 30px;
}

header a{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
}

ul li {
    color: #fff;
}

